certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
dj-pagination==2.3.2
Django==2.0.2
django-heroku==0.3.1
django-money==0.12.3
djangorestframework==3.7.7
gunicorn==19.7.1
idna==2.6
Pillow==5.0.0
psycopg2==2.7.4
py-moneyed==0.7.0
pytz==2018.3
requests==2.18.4
slugify==0.0.1
urllib3==1.22
whitenoise==3.3.1
