{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>iStore</title>
    <link rel="stylesheet" type="text/css" href="{% static "/style.css"%}">
</head>
<body>
    <a href="http://127.0.0.1:8000/" style="text-decoration: none;"><p class="title">iStore</p></a>
{% load staticfiles %}
{% for product in products %}
<div class="index">
    <div class="block">
        <p class="text"><a href="/product/{{product.slug}}" class="link">{{product.title}}</a></p>
        <p class="text" style="font-size: 10px; color: #A2A2A2"><a href="/category/{{ product.category.slug }}" class="link">{{product.category}}</a></p>
        <p class="description">{{product.description}}</p>
        <div class=img>
            <img src="{{product.image.url}}" height="100px">
        </div>
        <div class="price">
            <p class="price_p">{{product.price}}</p>
        </div>
    </div>
</div>
{% endfor %}
</body>
</html>